.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}

.form > button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(224, 54, 54);
    font-size: 16px;
    color: white;
    align-self: center;
    cursor: pointer;
}

.form > button:hover {
    background-color: rgb(244, 100, 100);
}

.content {
    gap: 100px;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
    gap: 20px;
    background-color: white;
    color: black;
}

.item {
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    gap: 0px;
}

.item > input {
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(198, 197, 197);
}

.country {
    position: relative;
}

.file {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.file > img {
    width: 200px;
    height: 200px;;
}

.file > input {
    display: none;
}

.file > label {
    background-color: rgb(52, 137, 227);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.file > label:hover {
    background-color: rgb(96, 168, 245);
}