.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}

.form > h1 {
  color: black;
}

.form > button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--btn-color-red);
    font-size: 16px;
    color: white;
    align-self: center;
    cursor: pointer;
}

.form > button:hover {
    background-color: var(--btn-color-red-hover);
}


.form > button:disabled {
    background-color: rgb(193, 192, 192);
    cursor: default;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.item > input {
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(198, 197, 197);
}

.content {
    gap: 100px;
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
    gap: 20px;
    background-color: white;
    color: black;
}